In [2]:
import pandas as pd

In [3]:
# Importar data de las reacciones adversas
reacciones_adversas = pd.read_csv('2019VAERSDATA.csv', encoding='ISO-8859-1')

In [4]:
# Columnas de las reacciones adversas
reacciones_adversas.columns

Index(['VAERS_ID', 'RECVDATE', 'STATE', 'AGE_YRS', 'CAGE_YR', 'CAGE_MO', 'SEX',
       'RPT_DATE', 'SYMPTOM_TEXT', 'DIED', 'DATEDIED', 'L_THREAT', 'ER_VISIT',
       'HOSPITAL', 'HOSPDAYS', 'X_STAY', 'DISABLE', 'RECOVD', 'VAX_DATE',
       'ONSET_DATE', 'NUMDAYS', 'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY',
       'OTHER_MEDS', 'CUR_ILL', 'HISTORY', 'PRIOR_VAX', 'SPLTTYPE',
       'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT', 'OFC_VISIT', 'ER_ED_VISIT',
       'ALLERGIES'],
      dtype='object')

In [5]:
# Muestra las reacciones adversas
reacciones_adversas = reacciones_adversas.set_index('VAERS_ID')
reacciones_adversas.head(5)

,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,DATEDIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
VAERS_ID,,,,,,,,,,,,,,,,,,,,,
794156,01/01/2019,NaN,69.0,69.0,NaN,F,NaN,"Severe pain Lt. shoulder area, very localized ...",NaN,NaN,...,none,none,NaN,NaN,2,01/01/2019,NaN,Y,NaN,tetracycline
794157,01/01/2019,IL,68.0,68.0,NaN,F,NaN,"Much joint pain/aching, lack of energy, listle...",NaN,NaN,...,None,Hypothryoidism,Arm soreness at site of injection,NaN,2,01/01/2019,NaN,NaN,NaN,None
794158,01/01/2019,MA,62.0,62.0,NaN,F,NaN,"Headache, Fever, Chills, Body Aches, Nausea la...",NaN,NaN,...,None,None,NaN,NaN,2,01/01/2019,NaN,NaN,NaN,None
794159,01/01/2019,UT,5.0,5.0,NaN,M,NaN,"Site is swollen, red and warm to the touch. Pa...",NaN,NaN,...,Small red spot on his cheek at time of visit.,None,NaN,NaN,2,01/01/2019,NaN,NaN,NaN,Amoxicillin
794160,01/01/2019,TX,79.0,79.0,NaN,F,NaN,"FLU LIKE: CHILLS ACHE ALL OVER; STRONG PAIN, W...",NaN,NaN,...,SINUSITIS; ATHROSCLEROSIS; DIABETES; HYPERCHOL...,SAME AS ITEM 11 ABOVE,NaN,NaN,2,01/01/2019,NaN,Y,Y,ACE INHIBITORS

In [6]:
# Descripción de las reacciones adversas
reacciones_adversas.describe()

,AGE_YRS,CAGE_YR,CAGE_MO,HOSPDAYS,NUMDAYS,FORM_VERS
count,20517.000000,19602.000000,2323.000000,569.000000,20831.000000,27723.000000
mean,45.342083,45.667483,0.322772,6.623902,25.831501,1.949428
std,27.580248,27.561354,0.257986,15.197845,613.438907,0.219125
min,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,17.000000,17.000000,0.100000,2.000000,0.000000,2.000000
50%,57.000000,57.000000,0.300000,3.000000,0.000000,2.000000
75%,67.000000,67.000000,0.500000,6.000000,1.000000,2.000000
max,111.000000,111.000000,1.000000,240.000000,43646.000000,2.000000

In [7]:
# Importar vacunas
vacunas = pd.read_csv('2019VAERSVAX.csv', encoding='ISO-8859-1')
vacunas = vacunas.set_index('VAERS_ID')
vacunas.head(3)

,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
VAERS_ID,,,,,,,
794156,FLU4,GLAXOSMITHKLINE BIOLOGICALS,JZ3B7,UNK,IM,LA,INFLUENZA (SEASONAL) (FLUARIX QUADRIVALENT)
794157,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,UNK,NaN,NaN,ZOSTER (SHINGRIX)
794158,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,UNK,NaN,NaN,ZOSTER (SHINGRIX)

In [8]:
# Descripción de la data
vacunas.describe()

,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
count,35345,35345,21329,34801,27972,25862,35345
unique,61,21,5746,8,9,11,117
top,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,58160-0823-11,UNK,IM,LA,ZOSTER (SHINGRIX)
freq,12076,14101,120,13601,15912,11332,10695

In [9]:
# Filtrar sólo la vacuna en interes: 
vacunas = vacunas[vacunas.VAX_TYPE == 'DTAPIPVHIB']
vacunas.head(3)

,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
VAERS_ID,,,,,,,
794327,DTAPIPVHIB,SANOFI PASTEUR,C5529A,3,SYR,RL,DTAP + IPV + HIB (PENTACEL)
794329,DTAPIPVHIB,SANOFI PASTEUR,C5529AA,1,SYR,LL,DTAP + IPV + HIB (PENTACEL)
794342,DTAPIPVHIB,SANOFI PASTEUR,NaN,UNK,UN,LG,DTAP + IPV + HIB (PENTACEL)

In [10]:
# Filtrando datos de reacciones adversas segun la vacuna Pentavalente
pentavalente_reacciones = reacciones_adversas[reacciones_adversas.index.isin(vacunas.index.values)]
pentavalente_reacciones.describe()

          AGE_YRS     CAGE_YR     CAGE_MO   HOSPDAYS      NUMDAYS   FORM_VERS
count  375.000000  369.000000  347.000000  34.000000   325.000000  484.000000
mean     1.000213    0.826558    0.351297   4.647059    15.338462    1.946281
std      3.950396    4.381563    0.184883   5.693603   158.229681    0.225696
min      0.080000    0.000000    0.000000   1.000000     0.000000    1.000000
25%      0.170000    0.000000    0.200000   1.250000     0.000000    2.000000
50%      0.420000    0.000000    0.300000   2.000000     0.000000    2.000000
75%      1.085000    1.000000    0.500000   4.000000     1.000000    2.000000
max     73.000000   73.000000    1.000000  25.000000  2718.000000    2.000000

In [11]:
# Agregando datos de las vacunas a las reacciones adversas
vacunas_reacciones = pentavalente_reacciones.join(vacunas)
vacunas_reacciones.head(3)

,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,DATEDIED,...,OFC_VISIT,ER_ED_VISIT,ALLERGIES,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
VAERS_ID,,,,,,,,,,,,,,,,,,,,,
794327,01/02/2019,MI,0.42,0.0,0.4,F,NaN,Pt was given a DTAP-HIB-IPV and a HIB at the s...,NaN,NaN,...,NaN,NaN,NaN,DTAPIPVHIB,SANOFI PASTEUR,C5529A,3,SYR,RL,DTAP + IPV + HIB (PENTACEL)
794329,01/02/2019,MI,0.17,0.0,0.2,F,NaN,Dtap-IPV-HIB and the HIB vaccine were both giv...,NaN,NaN,...,NaN,NaN,NaN,DTAPIPVHIB,SANOFI PASTEUR,C5529AA,1,SYR,LL,DTAP + IPV + HIB (PENTACEL)
794342,01/02/2019,NaN,0.17,NaN,NaN,F,NaN,Initial information received on 19-Jul-2018 re...,NaN,NaN,...,NaN,NaN,NaN,DTAPIPVHIB,SANOFI PASTEUR,NaN,UNK,UN,LG,DTAP + IPV + HIB (PENTACEL)

In [12]:
vacunas_reacciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 484 entries, 794327 to 833509
Data columns (total 41 columns):
RECVDATE           484 non-null object
STATE              365 non-null object
AGE_YRS            375 non-null float64
CAGE_YR            369 non-null float64
CAGE_MO            347 non-null float64
SEX                484 non-null object
RPT_DATE           24 non-null object
SYMPTOM_TEXT       483 non-null object
DIED               8 non-null object
DATEDIED           8 non-null object
L_THREAT           8 non-null object
ER_VISIT           9 non-null object
HOSPITAL           40 non-null object
HOSPDAYS           34 non-null float64
X_STAY             1 non-null object
DISABLE            15 non-null object
RECOVD             453 non-null object
VAX_DATE           434 non-null object
ONSET_DATE         325 non-null object
NUMDAYS            325 non-null float64
LAB_DATA           173 non-null object
V_ADMINBY          484 non-null object
V_FUNDBY           26 non-null object
OTHER_MEDS         276 non-null object
CUR_ILL            215 non-null object
HISTORY            209 non-null object
PRIOR_VAX          19 non-null object
SPLTTYPE           191 non-null object
FORM_VERS          484 non-null int64
TODAYS_DATE        455 non-null object
BIRTH_DEFECT       0 non-null object
OFC_VISIT          123 non-null object
ER_ED_VISIT        64 non-null object
ALLERGIES          202 non-null object
VAX_TYPE           484 non-null object
VAX_MANU           484 non-null object
VAX_LOT            368 non-null object
VAX_DOSE_SERIES    483 non-null object
VAX_ROUTE          452 non-null object
VAX_SITE           390 non-null object
VAX_NAME           484 non-null object
dtypes: float64(5), int64(1), object(35)
memory usage: 178.8+ KB

NameError: name 'y' is not defined

In [22]:
# Partición de datos en entrenamiento y prueba

from sklearn.model_selection import train_test_split